!go.work
*.png
**/.crush/**
.DS_Store

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
/examples/charmtone/charmtone

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Allow graphics used for benchmarks
!ansi/fixtures/graphics/*.png
!mosaic/fixtures/*.png

go.work
go.work.sum
