go 1.21

use (
	./ansi
	./colors
	./conpty
	./editor
	./errors
	./exp/golden
	./exp/higherorder
	./exp/open
	./exp/ordered
	./exp/slice
	./exp/strings
	./exp/teatest
	./exp/term
	./input
	./term
	./termios
	./windows
	./xpty
)
