go 1.23.1

toolchain go1.23.3

use (
	./ansi
	./cellbuf
	./colors
	./conpty
	./editor
	./errors
	./examples
	./exp/golden
	./exp/higherorder
	./exp/maps
	./exp/open
	./exp/ordered
	./exp/slice
	./exp/strings
	./exp/teatest
	./exp/teatest/v2
	./input
	./json
	./sshkey
	./term
	./termios
	./vt
	./wcwidth
	./windows
	./xpty
)
